<main role="main">
<div class="top-wrapper ">
 <h1 class="text-center">players-search</h1>


  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
      <%= image_tag asset_path("person.jpg"), width: '40%', height: '40%' %>

        <h2>選手を検索しよう</h2>
        <p>
        選手のシーズンのリーグ戦の結果を検索<br>
        できます<br>
        シュート数、ゴール数、タックル数、試合出場<br>
        数等が見れます
        <p>

        <%= link_to '選手を検索する', search_players_path, class: 'btn btn-secondary btn-lg text-white' %>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <%= image_tag asset_path("stadium.jpg"), width: '50%', height: '50%' %>

        <h2>試合情報を検索しよう</h2>
        <p>
        好きなリーグや好きなチームのスケジュールを<br>
        検索できます<br>
        リーグ戦の順位表が見れます
        </p>
        <%= link_to '試合情報を検索する', search_games_path, class: 'btn btn-secondary btn-lg text-white' %>


      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <%= image_tag asset_path("favorite.jpg"), width: '50%', height: '50%' %>

        <h2>選手をお気に入り</h2>
        <p>
        ログインしてからお気に入りできます<br>
        選手をお気に入りしよう<br>
        お気に入り一覧からいつでも見れます
        </p>
        <%= link_to 'お気に入り一覧', favorites_players_path, class: 'btn btn-secondary btn-lg text-white' %>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- フィーチャーを開始 -->
    <hr class="featurette-divider">
    <h1 class="text-center">使い方</h1>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal text-center">選手検索機能</h2>
        <p class="lead text-center">
          リーグ名とシーズンとプレイヤー名を入力して検索してください
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag 'top.jpg', width: "1000", height: "600", class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto'%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal text-center">試合検索機能</h2>
        <p class="lead text-center">
          検索したいリーグとシーズンを入力して試合情報を検索してください
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag 'soccer_stadium.jpg', width: "1000", height: "600", class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto'%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal text-center">お気に入り機能</h2>
        <p class="lead text-center">
         好きな選手をお気に入りしよう
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag 'favorites.jpg', width: "1000", height: "600", class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto'%>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
