  <h1>試合内容</h1>
    <p>試合ID: <%= @prediction.match.id %></p>
    <p>試合日: <%= @prediction.match.date %></p>
    <p>ホームチーム: <%= @prediction.match.home_team_name %></p>
    <p>アウェイチーム: <%= @prediction.match.away_team_name %></p>

  <!-- 試合予想投稿詳細 -->
  <h3>投稿内容</h3>
  <p>ホームチームの得点: <%= @prediction.home_score %></p>
  <p>アウェイチームの得点: <%= @prediction.away_score %></p>
  <p>予想勝者: <%= @prediction.predicted_winner %></p>
  <p>予想敗者: <%= @prediction.predicted_loser %></p>
  <p>引き分け: <%= @prediction.draw%></p>
  <p>コメント: <%= @prediction.comment %></p>

  <% if current_user == @prediction.user %>
  <%= render partial: 'button', locals: { match: @match, prediction: @prediction } %>
<% end %>

  <%= render 'comments/form', locals: { match: @match, prediction: @prediction, comment: @comment } %>
  
  <!-- コメント一覧の表示 -->
<%
=begin%>
 <% if @comments.any? %>
  <h2>コメント一覧</h2>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <strong><%= comment.user.name %>:</strong>
        <%= comment.content %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだコメントはありません。</p>
<% end %> 
<%
=end%>
<% if @comments.any? %>
  <div class="comment-section">
    <h2>コメント一覧</h2>
    <ul class="comment-list">
      <% @comments.each do |comment| %>
        <li class="comment">
          <div class="comment-content">
            <strong><%= comment.user.name %>:</strong>
            <%= comment.content %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p class="no-comments">まだコメントはありません。</p>
<% end %>
