<header>
  <div class="container-fluid  header">
    <nav class="navbar navbar-expand-lg"> 

    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'football.png' %>
      <p>players-search</p>
    <% end %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item dropdown dropdown-slide">
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-futbol"></i>サッカー選手
          </a>
          
          <div class="player_favorite">
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to '探したいサッカー選手', search_players_path, class: 'dropdown-item' %>
            <%= link_to '登録したサッカー選手一覧', favorites_players_path, class: 'dropdown-item' %>
          </div>
          </div>
        </li>

        <li class="nav-item nav-link">
          <i class="fas fa-futbol"></i> 
          <%= link_to '各リーグ試合情報', games_search_path %>
        </li>

        <li class="nav-item nav-link">
          <i class="fas fa-user-plus"></i>
          <%= link_to '新規登録', new_user_path %>
        </li>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto main-nav align-items-center">
            <li class="nav-item dropdown dropdown-slide">
              <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-calendar-alt mr-1"></i>試合日程作成
              </a>
        <%
=begin%>
 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            試合日程作成
          </a> 
<%
=end%>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'マッチメイク', new_match_path, class: 'dropdown-item' %>
            <%= link_to '作成された試合一覧', matches_path, class: 'dropdown-item' %>
          </div>
        </li>
      
        

        <li class="nav-item nav-link">
          <% if logged_in? %>
            <i class="fas fa-sign-in-alt"></i> 
            <%= link_to 'ログアウト', logout_path, method: :delete %>
          <% else %>
            <i class="fas fa-sign-in-alt"></i> 
            <%= link_to 'ログイン', login_url %>
        <% end %> 
       </li>
       </div>
      </ul>
    </div>
  </div>
</header> 
 