<div class="container">
  <div class="row">
   <div class="col-lg-8 offset-lg-2">

<h1>player</h1>
<div>
  <table>
    <tr>
     <td><%= @imageURL %></td>
    </tr>
    <tr>
      <td>プレイヤー名</td>
       <td><%= @player_name %></td>
    </tr>
        <tr>
      <td>西暦</td>
       <td><%= @season %></td>
    </tr>
    <tr>
      <td>チーム名</td>
      <td><%= @team%></td>
    </tr>
    <tr>
      <td>年齢</td>
      <td><%= @age%></td>
    </tr>
    <tr>
    <td>国籍</td>
    <td><%= @natinality%></td>
    </tr>
   <tr>
    <td>出場試合数</td>
    <td><%= @games%></td>
    </tr>
   <tr>
    <td>ゴール数</td>
    <td><%= @goal%></td>
    </tr>
   <tr>
    <td>シュート数</td>
    <td><%= @shoots%></td>
    </tr>
  </table>

   </div>
  </div>
 </div>
</div>
