 <div class="container">
      <h1 class="text-center">お気に入りした選手</h1>
 <!-- 変数で定義 -->
  <div class="row">
    <% if @players.present? %>
      <% @players.each do |player| %>
        <div class = "col-md-4">
          <table>
            <td><%= image_tag player[0]["player"]["photo"] %></td> 
            <td>プレイヤー名</td>
           <td><%= player[0]["player"]["lastname"] + player[0]["player"]["firstname"]%></td>
          <%= form_with url: players_url, method: :get, local: true do |f| %>
            <%= f.submit '選手詳細', class: 'btn btn-primary' %>
            <%= f.hidden_field :league, value: player[0]["statistics"][0]["league"]["id"] %>
            <%= f.hidden_field :season, value: player[0]["statistics"][0]["league"]["season"] %>
            <%= f.hidden_field :player_name, value: player[0]["player"]["name"] %>
          <% end %>
          </table>
        </div>
      <% end %>
    <% else %>
      <div class= "mx-auto text-center m-5">
        選手のお気に入りがありません
      </div>
    <%end %>
 </div>
</div>