<div class="form-container">
  <%= form_with model: @match, class: 'new-match-form' do |form| %>
    <h1>試合日程作成</h1>


    <%= form.label :date %>
    <%= form.date_field :date %>

    <%= form.label :round %>
    <%= form.number_field :round %>

    <%= form.label :league %>
    <%= form.select :league, [["J1 League"], ["J2 League"], ["J3 League"], ["Ligue 1(フランス1部)"], ["La Liga(スペイン1部)"], ["Premier(イングランド1部)"], ["SerieA(イタリア1部)"], ["Bundesliga(ドイツ1部)"], ["Eredivisie(オランダ1部)", 88], ["Primeira Liga(ポルトガル1部）", 94]], {include_blank: "リーグを選択して下さい"}, {class: 'form-control'} %>

    <%= form.label :home_team_name %>
    <%= form.text_field :home_team_name %>

    <%= form.label :away_team_name %>
    <%= form.text_field :away_team_name %>

  <%= form.submit '試合カードを作成' %>
<% end %> 
</div>