<%
=begin%>
 <div class="hero container vh-100  mt-5">
  <div class="row">
    <div class="col-10 offset-1 col-md-10 offset-md-1 col-lg-4 offset-lg-4">
      <h1 class="text-center">ログインページ</h1>
      <%= form_with url: login_path, method: :post do |f| %>
     <div class="mt-3">
      <div class="form-group">
        <%= f.label :"メールアドレス" %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      </div>
      <div class="form-group">
        <%= f.label :"パスワード" %>
        <i class='bx bx-lock-alt'></i>
        <%= f.password_field :"password", class: 'form-control'%>
      </div>
      <div class="w-100">
      <div class='mt-3 mb-3'>
      <div class="actions text-center">
        <%= f.submit "ログイン", class: 'btn btn-primary'%>
      </div>
      </div>
      <%end%>
      </div>
      <div class="text-center mt-5">
        <%= link_to '登録ページへ', new_user_path, class: "link-light link" %>
     </div>
   </div>
  </div>
</div> 
<%
=end%>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <h1>ログインページ</h1>
      </div>
      <%= form_with url: login_path, method: :post do |f| %>
        <div class="mb-3">
          <%= f.label :"メールアドレス", class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
        <div class="mb-3">
          <%= f.label :"パスワード", class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <%= f.password_field :"password", class: 'form-control' %>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit "ログイン", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class="text-center mt-3">
        <%= link_to '新規登録はこちら', new_user_path, class: "btn btn-link" %>
      </div>
    </div>
  </div>
</div>

